#F9EBEA{
    background-color: #F9EBEA;
}
#FADBD8{
    background-color: #FADBD8;
}
#F5B7B1{
    background-color: #F5B7B1;
}
#F1948A{
    background-color: #F1948A;
}
#EC7063{
    background-color: #EC7063;
}
#E74C3C{
    background-color: #E74C3C;
}
#CB4335{
    background-color: #CB4335;
}
#B03A2E{
    background-color: #B03A2E;
}
#C943126{
    background-color: #943126;
}
#C78281F{
    background-color: #78281F;
}

/* 2nd row */
#F4ECF7{
    background-color: #F4ECF7;
}
#E8DAEF{
    background-color: #E8DAEF;
}
#D2B4DE{
    background-color: #D2B4DE;
}
#BB8FCE{
    background-color: #BB8FCE;
}
#A569BD{
    background-color: #A569BD;
}
#C8E44AD{
    background-color: #8E44AD;
}
#C7D3C98{
    background-color: #7D3C98;
}
#C6C3483{
    background-color: #6C3483;
}
#C5B2C6F{
    background-color: #5B2C6F;
}
#C4A235A{
    background-color: #4A235A;
}

/* 3rd row */
#EBF5FB{
    background-color: #EBF5FB;
}
#D6EAF8{
    background-color: #D6EAF8;
}
#AED6F1{
    background-color: #AED6F1;
}
#C85C1E9{
    background-color: #85C1E9;
}
#C5DADE2{
    background-color: #5DADE2;
}
#C3498DB{
    background-color: #3498DB;
}
#C2E86C1{
    background-color: #2E86C1;
}
#C2874A6{
    background-color: #2874A6;
}
#C21618C{
    background-color: #21618C;
}
#C1B4F72{
    background-color: #1B4F72;
}

